In [ ]:
import pandas as pd

url = '/content/drive/MyDrive/Bank Customer Churn Prediction.csv'
data = pd.read_csv(url, encoding = 'utf8')

data

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

# Read the dataset and display columns
print(data.columns)

# Here are some basic exploratory data analysis (EDA) :
print(data.head())
print(data.describe())
print(data.info())

# Here are some columns that may be useful in predicting churn:
features = ['credit_score', 'age', 'tenure', 'balance', 'products_number', 'credit_card', 'active_member', 'estimated_salary']

# Creating train and test sets
X = data[features]
y = data['churn']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Training machine learning model to predict churn
# Random Forest
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Evaluating model on the test set
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

print('Accuracy:', accuracy)
print('Precision:', precision)
print('Recall:', recall)
print('F1 score:', f1)
print('Confusion matrix:\n', conf_matrix)

Index(['customer_id', 'credit_score', 'country', 'gender', 'age', 'tenure',
       'balance', 'products_number', 'credit_card', 'active_member',
       'estimated_salary', 'churn'],
      dtype='object')
   customer_id  credit_score country  gender  age  tenure    balance  \
0     15634602           619  France  Female   42       2       0.00
1     15647311           608   Spain  Female   41       1   83807.86
2     15619304           502  France  Female   42       8  159660.80
3     15701354           699  France  Female   39       1       0.00
4     15737888           850   Spain  Female   43       2  125510.82

   products_number  credit_card  active_member  estimated_salary  churn
0                1            1              1         101348.88      1
1                1            0              1         112542.58      0
2                3            1              0         113931.57      1
3                2            0              0          93826.63      0
4                1            1              1          79084.10      0
        customer_id  credit_score           age        tenure        balance  \
count  1.000000e+04  10000.000000  10000.000000  10000.000000   10000.000000
mean   1.569094e+07    650.528800     38.921800      5.012800   76485.889288
std    7.193619e+04     96.653299     10.487806      2.892174   62397.405202
min    1.556570e+07    350.000000     18.000000      0.000000       0.000000
25%    1.562853e+07    584.000000     32.000000      3.000000       0.000000
50%    1.569074e+07    652.000000     37.000000      5.000000   97198.540000
75%    1.575323e+07    718.000000     44.000000      7.000000  127644.240000
max    1.581569e+07    850.000000     92.000000     10.000000  250898.090000

       products_number  credit_card  active_member  estimated_salary  \
count     10000.000000  10000.00000   10000.000000      10000.000000
mean          1.530200      0.70550       0.515100     100090.239881
std           0.581654      0.45584       0.499797      57510.492818
min           1.000000      0.00000       0.000000         11.580000
25%           1.000000      0.00000       0.000000      51002.110000
50%           1.000000      1.00000       1.000000     100193.915000
75%           2.000000      1.00000       1.000000     149388.247500
max           4.000000      1.00000       1.000000     199992.480000

              churn
count  10000.000000
mean       0.203700
std        0.402769
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  object
 3   gender            10000 non-null  object
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  int64
 9   active_member     10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB
None
Accuracy: 0.8585
Precision: 0.7455357142857143
Recall: 0.42493638676844786
F1 score: 0.5413290113452188
Confusion matrix:
 [[1550   57]
 [ 226  167]]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

# Training a machine learning model to predict churn
# Logistic Regression
model = LogisticRegression(random_state=42)
model.fit(X_train, y_train)

# Evaluate your model on the test set
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

print('Accuracy:', accuracy)
print('Precision:', precision)
print('Recall:', recall)
print('F1 score:', f1)
print('Confusion matrix:\n', conf_matrix)

Accuracy: 0.8005
Precision: 0.45161290322580644
Recall: 0.07124681933842239
F1 score: 0.12307692307692307
Confusion matrix:
 [[1573   34]
 [ 365   28]]

Exercise 2 - Product Sales


1. 
The orders_items table is used to represent the items that were included in each order in the orders table. It has a many-to-many relationship with the products table, since each order can contain multiple products, and each product can be included in multiple orders. The quantity column represents the number of units of a given product that were included in a given order.

#SQL query to find the average order cost per country 



```
SELECT c.country, AVG(o.order_cost) AS avg_order_cost
FROM customers c
JOIN orders o ON c.id = o.id_customer
GROUP BY c.country;
```

This query joins the customers and orders tables on the customer ID, and groups the results by country. The AVG function is used to calculate the average order cost for each country.

#SQL query to find the name of the highest price product sold to an Italian customer:



```
SELECT p.name
FROM products p
JOIN orders_items oi ON p.id = oi.id_product
JOIN orders o ON oi.id_order = o.id
JOIN customers c ON o.id_customer = c.id
WHERE c.country = 'Italy'
ORDER BY p.price DESC
LIMIT 1;
```

This query joins the products, orders_items, orders, and customers tables to find the highest price product sold to an Italian customer. It first filters the customers table to only include customers from Italy, then joins the orders_items table to the products table to get the name and price of each product sold. Finally, it sorts the results by price in descending order, and uses LIMIT 1 to only return the highest-priced product.

#**4**. 

To optimize the orders table for a high volume of queries, we could consider using indexing. For example, you could create an index on the id_customer column in the orders table, which would make it faster to look up all orders for a given customer. we could also create indexes on other frequently queried columns, such as order_cost or order_date.

there are a few other techniques that can be used to optimize the orders table for a high volume of queries:
Partitioning: This involves splitting the orders table into multiple smaller tables based on a chosen partitioning key (such as date, customer ID, or order status). This can help reduce query times by allowing queries to be executed on smaller subsets of the data.

Denormalization: This involves duplicating data across tables in order to reduce the need for joins. For example, you could denormalize the orders table by including the customer name and country in each row, rather than requiring a join with the customers table for each query.

Caching: This involves storing the results of frequently executed queries in memory or on disk, so that they can be served quickly without needing to hit the database.

#**5**.

if the amount of data is too big to run these queries efficiently, we would need to consider using a distributed database system or a data warehouse. These types of systems are designed to handle large volumes of data and can parallelize queries across multiple nodes to improve performance. we may also need to consider using more specialized database technologies, such as columnar databases or NoSQL databases, depending on the specific requirements of your queries.

When dealing with very large amounts of data, traditional relational databases may not be sufficient to handle the volume and complexity of the data. In this case, there are a few options for managing the data:
Distributed databases: These are databases that are designed to scale horizontally across multiple nodes, allowing them to handle large volumes of data and traffic. Examples of distributed databases include Apache Cassandra and Amazon DynamoDB.

Data warehouses: These are specialized databases that are designed to handle large volumes of structured data, typically for business intelligence or reporting purposes. They often include features such as columnar storage, parallel processing, and advanced query optimization. Examples of data warehouses include Amazon Redshift and Google BigQuery.

NoSQL databases: These are databases that are designed to handle unstructured or semi-structured data, such as JSON or XML documents. They are often used in applications such as web and mobile apps, where data is generated and consumed in a highly distributed and heterogeneous fashion. Examples of NoSQL databases include MongoDB and Apache CouchDB.

---

# Exercise 3 - Machine Translation





### **1**.
Designing a data pipeline for a Machine Translation system involves several key steps:
Data collection: This involves sourcing parallel data (i.e. text in two or more languages) that can be used to train and evaluate the machine translation model. Sources of parallel data include publicly available corpora, websites with multilingual content, and human translators.

Data preprocessing: This involves cleaning and formatting the raw data to make it suitable for training the machine translation model. This includes tasks such as tokenization, sentence splitting, and language identification.

Model training: This involves training the machine translation model using the preprocessed parallel data. Popular machine translation models include sequence-to-sequence models, transformer models, and neural machine translation models.

Model evaluation: This involves evaluating the performance of the trained machine translation model using metrics such as BLEU, METEOR, and TER. This helps identify areas where the model may be making errors or performing poorly, and can inform decisions about further training or model tuning.

Model deployment: This involves deploying the trained machine translation model in a production environment, where it can be used to translate new input text.

Some of the main challenges involved in designing a data pipeline for a Machine Translation system include:

Sourcing high-quality parallel data in the desired languages
Preprocessing the data to ensure that it is suitable for training the model
Choosing an appropriate machine translation model architecture and tuning its parameters
Ensuring that the deployed system is fast and reliable, and that it can handle the volume and variety of input text that it may encounter in production.

---

### **2**.
Collecting new and good quality data from the web for machine translation training can be a challenging task. Some strategies that can be used include:
Scraping multilingual websites: Websites that contain content in multiple languages can be scraped to collect parallel data for machine translation training. This can be done using tools such as BeautifulSoup or Scrapy.

Collaborating with human translators: Professional translators can be engaged to create new parallel data specifically for machine translation training. This can be done through crowdsourcing platforms such as Amazon Mechanical Turk or specialized translation agencies.

Using existing translation memories: Translation memories are databases of previously translated texts that can be leveraged for machine translation training. Many translation agencies and language service providers have translation memories that can be licensed or accessed for free.

Regardless of the approach used, it's important to ensure that the collected data is of high quality and representative of the types of input text that the machine translation system will encounter in production.

---

### **3**.
To monitor the quality of a machine translation system using post-editing by professional translators, the following steps can be taken:
Collect a sample of output translations generated by the machine translation system
Have professional translators review and edit the output translations to improve their quality
Compare the post-edited translations to the original input text, as well as to the output generated by the machine translation system, to identify areas where the system is making errors or producing poor-quality translations
Use this feedback to refine and improve the machine translation model and its training data, with the goal of reducing the need for post-editing in the future.


---